# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
main.sqlite
BD/bdd
Code/import_crimes_sqlite.ipynb
Code/import_final.ipynb
Code/import_crimes_sqlite.ipynb
